.Polaris-Card {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  margin-bottom: 3%;
}

.text-container {
  padding: 3%;
}

.Polaris-Card h1 {
  font-size: 1.5em;
  font-weight: 600;
}

.date {
  color: rgba(140, 145, 150, 1);
  line-height: 200%;
}

.icon-container {
  padding-top: 1%;
  text-align: right;
}

button {
  border: solid rgba(186, 191, 195, 1) 1px;
  border-radius: 4px;
  background: #fff;
  height: 3.6rem;
  margin-left: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

button:hover {
  background: rgba(246, 246, 247, 1);
  cursor: pointer;
}

.Polaris-Button {
  vertical-align: bottom;
}
